<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav>
      <ul>
        {% block navbar_links %} {% endblock %}
      </ul>
    </nav>

    {% for msg in get_flashed_messages() %}
    <div>
      <p>{{ msg }}</p>
    </div>
    {% endfor %}

    <main>{% block content %} {% endblock %}</main>

    <!-- Axios -->
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/static/app.js"></script>
  </body>
</html>
