{% extends 'base.html' %}
<!-- break -->
{% block title %} Home {% endblock %}
<!-- break -->
{% block navbar_links %}{% endblock %}
<!-- break -->

{% block content %}
<div class="content-flex">
  <div class="home-container">
    <div class="box-container">
      <div class="header-container">
        <h1>MarketCap Metrics</h1>
      </div>
      <div class="anchor-container">
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('signup') }}">Signup</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
