{% extends 'base.html' %}
<!-- break -->
{% block title %} Login {% endblock %}
<!-- break -->
{% block navbar_links %}
<li><a href="{{ url_for('home_page') }}">Home</a></li>
{% endblock %}
<!-- break -->
{% block content %}
<h1>Login</h1>

<form action="" method="POST">
  {{form.hidden_tag()}}
  <!-- break -->
  {% for field in form if field.widget.input_type != 'hidden' %}

  <p>
    {{field.label}} {{field}} {% for error in field.errors %} {{error}} {%
    endfor %}
  </p>

  {% endfor %}
  <button>Login</button>
</form>
<div>
  <a href="{{ url_for('home_page') }}">Cancel</a>
</div>

{% endblock %}
