{% extends 'base.html' %}
<!-- break -->
{% block title %} Login {% endblock %}
<!-- break -->
{% block navbar_links %}
<li><a href="{{ url_for('home_page') }}">Home</a></li>
{% endblock %}
<!-- break -->
{% block content %}
<div class="content-flex">
  <div class="box-container">
    <div class="header-container">
      <h1>Login</h1>
    </div>
    <form action="" method="POST">
      {{form.hidden_tag()}}
      <!-- break -->
      {% for field in form if field.widget.input_type != 'hidden' %}

      <p>
        {{field.label (class_='access-input-label')}} {{field
        (class_='access-input-box')}}
      </p>
      {% if field.errors%}
      <div class="content-flex-flash">
        {% for error in field.errors %}
        <p class="flash-message">{{error}}</p>
        {% endfor %}
      </div>
      {%endif%} {% endfor %}
      <div class="login-signup-button-container">
        <button class="login-signup-button">Login</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
